* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  font-family: "Work Sans", sans-serif;
}

.container {
  max-width: 75rem;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

.btn {
  border-radius: 48px;
  background: linear-gradient(90deg, #ff42a5 0%, #ff42a5 100%);
  padding: 0.75rem 1.25rem;

  color: #fff;
  font-size: 1rem;
  font-weight: 600;
  text-transform: uppercase;
}

.btn-secondary {
  background: #4ec5f7;
}

/* Header */

.nav {
  background: #fff;
  box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 5rem;
}

.logo {
  font-size: 2rem;
  font-weight: 700;
  color: #0b0223;

  display: flex;
  align-items: center;
}

.logo img {
  width: 4rem;
  padding-right: 0.5rem;
}

.logo > span {
  color: #ff42a5;
}

.nav-links {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.nav-links ul {
  display: flex;
  list-style: none;
  gap: 1rem;
}

.nav-links a,
.nav-follow-us {
  color: #3c354f;
  font-weight: 500;
}

.nav-follow-us {
  display: flex;
  align-items: center;
  gap: 1rem;
  border-radius: 8px;
  background: rgba(11, 2, 35, 0.1);
  padding: 0.75rem 1.25rem;
}

/* Hero Section */
.hero-section {
  background-image: url("../images/Group\ 14.png");
  background-position: left;
  background-repeat: no-repeat;
}

.hero-section .container {
  display: flex;
  align-items: center;
}

.hero-info {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.hero-info h3 {
  color: #0b0223;
  font-size: 2rem;
  font-weight: 600;
  text-transform: uppercase;
}

.hero-info h2 {
  font-size: 4rem;
  font-weight: 800;
  text-transform: uppercase;

  background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.hero-info ul {
  list-style: none;
}

.hero-info ul li {
  color: #534c64;
  font-size: 1rem;
  font-weight: 500;
  padding: 0.25rem 0;
}

.hero-info .buttons {
  padding-top: 1rem;
  display: flex;
  gap: 0.75rem;
}

.hero-image img {
  width: 100%;
}

.hero-image {
  flex: 1;
}
